- provide(:title, "Password olvidado")

= render "shared/title", title: "Solicita un nuevo password"
= form_for(:password_reset, url: password_resets_path) do |f|
  = f.email_field :email, placeholder: "Email", class: "radius"
  = f.submit "Enviar", class: "button alert expand radius"
