Hola #{@user.first_name},

Bienvenidos a CocinitApp!

Por favor, para activar tu cuenta, copia el siguiente link y pégalo en tu browser:

\#{edit_account_activation_url(@user.activation_token, email: @user.email)}
