%a{:href => "https://cocinitapp.herokuapp.com/"}
  %h1 CocinitApp! 
%h3 Activa tu cuenta

%p
  = "Hola #{@user.first_name},"
%p
  Bienvenidos a CocinitApp!
  %br/
  Por favor, haz click en el siguiente link para activar tu cuenta:
  = link_to "Activar mi cuenta", edit_account_activation_url(@user.activation_token, email: @user.email)
