%h1 TookieTi! 
%h3 Activate your Account

%p
  = "Hi #{@user.first_name},"
%p
  Welcome to TookieTi!
  %br/
  Please, click on the link to activate your account:
  = link_to "Activate my Account", edit_account_activation_url(@user.activation_token, email: @user.email)
