Por favor, para resetear tu password, copia el siguiente link y pégalo en tu browser:

\#{edit_password_reset_url(@user.reset_token, email: @user.email)}

Hazlo ahora porque este link expira en 2 horas.

Si no solicitaste que te cambiaran el password, simplemente ignora este email y tu password actual seguirá siendo el mismo.