%a{:href => "https://cocinitapp.herokuapp.com/"}
  %h1 CocinitApp! 
%h3 Resetea tu password

%p
  Por favor, haz click en el siguiente link para resetear tu password:
  = link_to "Resetea mi password", edit_password_reset_url(@user.reset_token, email: @user.email)
%p
  Hazlo ahora porque este link expira en 2 horas.
%p
  Si no solicitaste que te cambiaran el password, simplemente ignora este |
  email y tu password actual seguirá siendo el mismo.                     |