- provide(:title, "Recetas")

= render "shared/title", title: "Recetas"

.pagination-centered
  = will_paginate @collection, renderer: FoundationPagination::Rails, inner_window: 1, outer_window: 0
%br/

= render "shared/list", obj: @recipes

.pagination-centered
  = will_paginate @collection, renderer: FoundationPagination::Rails, inner_window: 1, outer_window: 0
%br/
