.users.large-6.columns
  .user-gravatar
    = gravatar(user, size: 200)
  .user-name.center
    = link_to full_name(user), user
    - if current_user.admin? && !current_user?(user)
      %br/
      = link_to user, method: :delete, data: { confirm: "Estás seguro?" } do
        .fa.fa-trash.fa-fw