- provide(:title, "Profile Update")

.row
  .large-6.medium-6.large-offset-3.medium-offset-3.columns
    %h1.text-center Update your Profile
    = form_for(@user) do |f|
      = render "fields", f: f
      = f.submit "Save Changes", class: "button expand alert radius"
    .gravatar_edit
      = gravatar(@user)
      %a{href: "http://gravatar.com/emails", target: "_blank"}
        change