- provide(:title, "Users")

.row
  .large-12.columns.text-center
    %h1 Users
  .large-12.columns.pagination-centered
    = will_paginate @collection, renderer: FoundationPagination::Rails
  .large-12.columns
    - @users.each do |user|
      = render user
  .large-12.columns.pagination-centered
    = will_paginate @collection, renderer: FoundationPagination::Rails