- provide(:title, "Registro")

.row
  .large-6.medium-6.large-offset-3.medium-offset-3.columns
    %h1.text-center Registro
    = form_for(@user) do |f|
      = render "fields", f: f
      = f.submit "Crear cuenta", class: "button success expand radius"
    %p 
      Ya eres usuario?
      %br/
      = link_to('Entra ahora!', login_path)


