- provide(:title, "Sign Up")

.row
  .large-6.medium-6.large-offset-3.medium-offset-3.columns
    %h1.text-center Sign Up
    = form_for(@user) do |f|
      = render "fields", f: f
      = f.submit "Create Account", class: "button success expand radius"
    %p 
      Already a User?
      %br/
      = link_to('Log In Now!', login_path)


