- provide(:title, "Ingredientes")

= render "shared/title", title: "Ingredientes"
%hr/
- @ingredients.each do |ingredient|
  %a.button.radius.expand{:href => "#{ingredient_path(ingredient)}"}
    = ingredient.name.titleize
