- provide(:title, "Ingredientes")

= render "shared/title", title: "Ingredientes"
%hr/
- @ingredients.each do |ingredient|
  %a.button.radius.expand{:href => "#{cuisine_path(cuisine)}"}
    = ingredient.name.titleize
