- provide(:title, 'Nosotros')

%h1 Nosotros
%p 
  Nosotros, somos todos. Somos tú, soy yo. Esta aplicación nació porque tú la |
  querías. Tú querías compartir tus recetas con tus amig@s y querías ver las  |
  de ell@s.                                                                   |
%p
  Así, como por arte de magia nació CocinitApp! 
