- provide(:title, 'Nosotros')

= render "shared/title", title: "Nosotros"
%p.justify 
  Nosotros, somos todos. Somos tú, soy yo. Esta aplicación nació porque tú la |
  querías. Tú querías compartir tus recetas con tus amig@s y querías ver las  |
  de ell@s.                                                                   |
%p.justify
  Así, como por arte de magia nació CocinitApp! 
