@import "foundation_and_overrides"
@import "main"

#user_area
  padding-top: 1em
  background-color: $white
  img
    border-radius: 50%

.users
  padding: 0
  .user-outer
    padding: 0.5em
    .user-inner
      @extend %shadows
      .user-gravatar
        @extend %shadows
      .user-info
        text-align: center
        font-weight: bold

